<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>open-iterm-envs-remote</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>419A07E8-BE54-4510-BA7C-6F198A8366EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58D5784D-0FA0-430D-B897-684D82978E29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Terminal setups for most frequent projects</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Envs - Remote</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "iTerm"
	create window with profile "🐯 Tiger"

	--- Tab 1 Backend
	--- tell first session of current tab of current window
	--- 	write text "cd Code/tiger &amp;&amp; mix phx.server"
	--- 	set name to "🐯 tiger (backend)"
	--- end tell

	tell current window
		create tab with profile "🐉 Dragon"
	end tell

	--- Tab 2 Frontend
	--- tell first session of second tab of current window
	--- 	write text "cd Code/dragon &amp;&amp; npm run dev"
	--- 	set name to "🐉 dragon (frontend)"
	--- end tell

	tell current window
		create tab with profile "🚧 Dragon (git)"
	end tell

	--- Tab 3 Git
	--- tell first session of third tab of current window
	--- 	write text "cd Code/dragon &amp;&amp; lazygit"
	--- 	set name to "🚧 dragon (git)"
	--- end tell
  end tell

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>58D5784D-0FA0-430D-B897-684D82978E29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>env employ</string>
				<key>subtext</key>
				<string>Run tiger and dragon</string>
				<key>text</key>
				<string>Start the Employ project</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>419A07E8-BE54-4510-BA7C-6F198A8366EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>419A07E8-BE54-4510-BA7C-6F198A8366EB</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>58D5784D-0FA0-430D-B897-684D82978E29</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
