<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>3F04CEA7-8A87-4FC1-B11D-1D0C82EFC064</string>
	<key>darkthemeuid</key>
	<string>theme.urlimport.6046B2DF-B804-4ED8-8ECB-08D707B9E1F3</string>
	<key>theme</key>
	<string>alfred.theme.yosemitedark</string>
</dict>
</plist>
